.container {
    background-color: azure;
}

/* Header Class */
.header {
     /*change text color,font & size */
    color: white;
    font-weight: bold;
    font-family: 'serif';
    font-size: 15px;
}
